.employment-section {
    width: 34rem;
    border: solid 1px #000;
    margin:  0 0 0 0.5rem;
}
.employment-section input {
    border-radius: 4px;
    height: 38px;
    box-sizing: border-box;
}
.employment-row {
    display: flex;
}
.employment-date {
    justify-content: initial;
}
.flex-col {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
.employment-date input {
    max-width: 4.5rem;
}
.employment-description textarea {
    /* set initial textarea dimensions*/
    width: 16rem;
    height: 100px;

    /* set resizable boundaries */
    min-width: 32.5rem;
    max-width: 32.5rem;
    min-height: 100px;
    max-height: 200px;

}
.employment-options {
    display: flex;
    justify-content: flex-end;
}
.employment-options div {
    margin: 0.5rem;
}
@media screen and (max-width: 1435px) { /* Apply these styles when width <= 1435px */
    .employment-row {
        flex-direction: column;
    }
    .employment-date {
        flex-direction: row;
        max-width: 16rem;
    }
    .employment-description textarea {
        min-width: 16rem;
        max-width: 16rem;
        max-height: 400px;
        box-sizing: border-box;
    }
    .employment-section {
        width: 17rem;
    }
}