.title {
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
}

.desc {
    color: #666666;
}

.trophy {
    float: left;
    margin-right: .5rem;
    color: #22a6f2;
}

.block {
    font-size: 30px;                                            
}