@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

h1 {
  color: #22a6f2;
  text-transform: uppercase;
  margin: 0;
  font-size: 2em;
  margin-top: .5em;
}

h2 {
  margin: 0.5em 0 0 0;
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  color: #22a6f2;
  font-size: 1.15em;
  font-weight: 700;
  margin:0;
}

h4 {
  color: #000;
  font-size: 1.15em;
  margin:0;
}

hr {
  height: 3px;
  background-color: #22a6f2;
  border: none;
  margin: 0;
}

.date {
  color: #666;
  font-size: 1em;
}

.location {
  color: #666;
  margin-left: 2rem;
}
