.NewResume {
    cursor: pointer;
    color: white;
    background: blue;
}

.NewResume:hover {
    background: blueviolet;
}

.Logout {
    background: red;
    color: white;
}

.Logout:hover {
    background: rebeccapurple;
    cursor: pointer;
}

#resumeList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}